* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --clr1: #111;
    --clr2: white;
    --clr3: #163772;
    --clr4: rgba(255, 255, 255, 0.15);
    --clr5: #08D9D1;
    --clr6: #FF2E63;
    --clr7: black;
    --clr8: yellow;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(60, 54, 54, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: var(--clr2);
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3vw;
}

.game {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table,
th,
td {
    border: 5px solid var(--clr2);
    text-align: center;
    height: 100px;
    width: 100px;
    table-layout: fixed;
    font-size: 30px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px var(--clr3) inset, 0 0 0 2px var(--clr4) inset, 0 4px 0 0 var(--clr5), 0 4px 0 1px var(--clr6), 0 4px 4px 1px var(--clr6);
    
}

td {
    
    border: 1px solid var(--clr2);
    background-color: var(--clr4);
}

.helpmenu {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    position: absolute;
    top: 295px;
    right: 0;
    flex-direction: column;
    gap: 5px;
    margin-right: 25%;

}

.coverd {
    text-align: center;
}

.shown {
    background-color: var(--clr7);
}

.mine {
    background-color: var(--clr6);
}

footer {
    text-align: end;
    font-size: small;
    margin-right: 20px;
    width: 100px;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    transition: 0.5s;
}

.modal {
    display: none;
    background-color: rgba(2, 0, 36, 1);
    border: 5px solid var(--clr2);
    width: 300px;
    padding: 20px;
    text-align: center;
    position: absolute;
    transition: 500ms ease-in;
    top: 300px;
    left: calc(50% - 175px);
}

.lives {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
}

.lives span {
    font-size: 24px;
}

.heart_img {
    width: 30px;
    height: auto;
    cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
}

.diffuclty-mode {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.smiley {
    position: relative;
    text-align: center;
    width: 70px;
    margin: 2%;
    height: auto;
    cursor: pointer;
}

button {
    box-shadow: 0 0 0 1px var(--clr3) inset, 0 0 0 2px var(--clr4) inset, 0 2px 0 0 var(--clr5), 0 2px 0 1px var(--clr6), 0 2px 2px 1px var(--clr6);
    margin-bottom: 1%;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}

#lightbulb1,
#lightbulb2,
#lightbulb3 {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.safeclickbox {
    text-align: center;
    margin-top: 10px;
    font-size: 8px;
    margin-right: 50%;
}

.safeclick {
    box-shadow: 0 0 0 1px var(--clr3) inset, 0 0 0 2px var(--clr4) inset, 0 2px 0 0 var(--clr5), 0 2px 0 1px var(--clr6), 0 2px 2px 1px var(--clr6);
    margin-top: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 5px 10px;
}

.manual {
    display: none;
}

.lighbulbs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
}

.display {
    width: 100%;
    min-height: 40px;
    background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(60, 54, 54, 1) 100%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

#clock,
#minescount {
    background-color: var(--clr1);
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.best_score {
    padding-left: 5px;
    margin-top: 10px;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    margin-top: 20px;
}


#mine_img {
    width: 100px;
    height: auto;
}

td:hover {
   
    background-color: gray;
    transition: 500ms ease-in-out;
    cursor: pointer;
    opacity: 0.5;
}

button:hover {
    background-color: gray;
    transition: 300ms ease-in-out;
  }
  
.best_score:hover {
   
    color: gray;
    transition: 300ms ease-in-out;
    
}

footer:hover {

    color: white;
    box-shadow: 0 5px 15px #afe0f5;
    
}

.lives:hover {
    color: #FF2E63;
    transition: 300ms ease-in-out;
    
}

.lighbulbs:hover {

    color: yellow;
    transition: 300ms ease-in-out;

}
